@import "modal.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: "Rosario";
    text-shadow: rgba(227, 170, 179, 0.588) 0.5px 0.5px;
    background-image: url(../images/fondo-hd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;   
}