$marron:#a52a2a; 
$blanco: #fffffa;
$rojo: #ff0d0d;
$verde-boton: #199141;

main {
    div {
        .andes-xtreme-logo {
            padding-left: 1%;
            margin: 2%;
            margin-bottom: 3%;
            a{
                color: $rojo;
                text-shadow: rgba(0, 0, 0, 0.534) 2.5px 2.5px;
                font-style: italic;
                font-size: 5rem;
                animation-duration: 0.75s;
                text-decoration: none;
            }

        }
        .welcome-text-container {
            h2 {
                margin: 1%;
            }
            p {
                margin: 1%;
            }
        }
    }
    .saber-mas-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-top: 20px;
        .saber-mas-button {
            align-self: center;
            width: 50%;
            height: 80%;
            color: $blanco;
            margin-bottom: 5%;
            font-weight: 600;
            padding: 15px;
            background-color: rgb(4, 148, 4);
            border: 3px $marron solid;
            border-radius: 10px;
            border-style: groove;
            &:hover {
                animation-duration: 1s;
                animation-name: acentuar;
                align-self: center;
                width: 50%;
                height: 80%;
                color: $blanco;
                margin-bottom: 5%;
                font-weight: 600;
                padding: 15px;
                background-color: rgb(4, 148, 4);
                border: 3px brown solid;
                border-radius: 10px;
                border-style: groove;
            }
            a {
                color: $blanco;
                text-decoration: none;
                margin: 5px;
                padding: 5px;
                border: 0px;
                background-color: rgba(0, 0, 0, 0);
                border-radius: 3px;
                font-weight: 600;
                text-shadow: 1px 1px rgb(0, 0, 0);
            }
        }
    }
    .spotify {
        width: 100%;
        display: flex;
        justify-content: center;
        .iframe-spotify {
            width: 70%;
            min-width: 270px;
        }
    }
}
main {
    .welcome-text-container {
        padding: 1%;
        margin: 1%;
        margin-top: 2%;
        margin-left: 0;
        width: 90%;
        background: $blanco;
        background: linear-gradient(0deg, rgba(241, 241, 241, 0.349) 0%, rgb(255, 255, 250) 100%);
        box-shadow: rgba(0, 0, 0, 0.358) 2px 2px 2px 2px;
        border-radius: 20px;
        font-weight: 600;
        h1 {
            margin: 1%;
        }
        p {
            margin: 1%;
            padding: 1%;
            font-size: 1.5em;
        }
    }
    .actividades-container {
        height: 100%;
        width: 100%;
        .lista-actividades {
            list-style-type: none;
            display: flex;
            flex-flow: wrap;
            margin-bottom: 0;
            li {
                .actividad-container {
                    display: grid;
                    width: 100%;
                    height: 100%;
                    padding: 5%;
                    background-color: $blanco;
                    text-align: center;
                    border-radius: 20px;
                    box-shadow: rgba(0, 0, 0, 0.358) 2px 2px 2px 2px;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1.5fr 0.5fr;
                    grid-template-areas:
                        "img-container"
                        "descripcion-container"
                        "button-container";
                    .img-actividad-container {
                        width: 100%;
                        grid-area: img-container;
                        justify-self: center;
                        align-content: start;
                        .img-act {
                            border-top-left-radius: 7px;
                            border-top-right-radius: 7px;
                        }
                    }
                    .descripcion-container {
                        grid-area: descripcion-container;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        h3 {
                            font-size: 1rem;
                        }
                        p {
                            font-size: 1rem;
                            margin: 1%;
                            padding: 1%;
                        }
                    }
                    .button-container {
                        display: flex;
                        flex-wrap: wrap;
                        grid-area: button-container;
                        justify-content: center;
                        align-content: flex-end;
                        button {
                            align-self: center;
                            width: 50%;
                            height: 80%;
                            color: $blanco;
                            margin-bottom: 5%;
                            font-weight: 600;
                            padding: 15px;
                            background-color: rgb(4, 148, 4);
                            border: 3px brown solid;
                            border-radius: 10px;
                            border-style: groove;
                            &:hover {
                                animation-duration: 1s;
                                animation-name: acentuar;
                                align-self: center;
                                width: 50%;
                                height: 80%;
                                color: $blanco;
                                margin-bottom: 5%;
                                font-weight: 600;
                                padding: 15px;
                                background-color: rgb(4, 148, 4);
                                border: 3px brown solid;
                                border-radius: 10px;
                                border-style: groove;
                            }
                        }
                    }
                }
            }
        }
    }
}
main {
    .beneficios-container {
        flex-direction: row;
        justify-content: center;
        .lista-actividades {
            list-style-type: none;
            display: flex;
            flex-flow: wrap;
            margin-bottom: 0;
            li {
                .beneficio-container{
                    display: grid;
                    width: 100%;
                    height: 100%;
                    padding: 5%;
                    background-color: $blanco;
                    text-align: center;
                    border-radius: 20px;
                    box-shadow: rgba(0, 0, 0, 0.358) 2px 2px 2px 2px;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr;
                    grid-template-areas:
                        "img-container"
                        "descripcion-container";
                    .img-beneficio-container {
                        width: 100%;
                        grid-area: img-container;
                        justify-self: center;
                        align-content: start;
                        .img-act {
                            border-top-left-radius: 7px;
                            border-top-right-radius: 7px;
                        }
                    }
                    .descripcion-container {
                        grid-area: descripcion-container;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        h3 {
                            font-size: 1.5rem;
                        }
                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
main {
    .iframe-container {
        display: flex;
        justify-content: center;
        padding: 20px;
        border-radius: 25px;
        .iframe-map {
            width: 100%;
        }
    }
}
main {
    .welcome-text-container {
        .form-container {
            width: 80%;
            background-color: $blanco;
            margin-top: 10%;
            border-radius: 15px;
            form{
                .form{
                    div{
                        .botones{
                            .reset{
                                .btn-secondary{
                                    background-color: #ff0d0d;
                                    opacity: 70%;
                                    &:hover{
                                        opacity: 100%;
                                    }
                                }
                            }
                            .submit{
                                .btn-primary{
                                    background-color: #199141;
                                    opacity: 70%;
                                    &:hover{
                                        opacity: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
main {
    div {
        div{
            form{
                div{
                    div{
                        div.row.mt-3.m-auto.acceso{
                            .login-div{
                                .login-btn{
                                    background-color: $verde-boton;
                                    opacity: 70%;
                                    &:hover{
                                    opacity: 100%;
                                    }
                                }
                            }
                            .signin-div{
                                .signin-btn{
                                    background-color: rgb(82, 55, 18);
                                    opacity: 70%;
                                    &:hover{
                                    opacity: 100%;
                                    }
                                    a{
                                        color: $blanco;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.botones{
    .reset{
        .btn-secondary{
            background-color: #ff0d0d;
            opacity: 70%;
            &:hover{
                opacity: 100%;
            }
        }
    }
    .submit{
        .btn-primary{
            background-color: $verde-boton;
            opacity: 70%;
            &:hover{
                opacity: 100%;
            }
        }
    }
}