* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Rosario";
    text-shadow: rgba(227, 170, 179, 0.588) 0.5px 0.5px;
    background-image: url(../images/fondo-hd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;

    header {
        width: 100%;

        .nav-bar-container {
            color: rgb(255, 254, 231);
            padding: 15px;
            margin-left: 0;
            margin-right: 0;
            background-color: rgba(0, 0, 0, 0.33);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: wrap;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            .menu-nav-bar-container {
                display: flex;
                flex-flow: row wrap;

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-flow: wrap;
                    margin-bottom: 0;
                    padding-left: 0;

                    li {
                        a {
                            color: rgb(255, 255, 255);
                            text-decoration: none;
                            margin: 5px;
                            padding: 5px;
                            border: 0px;
                            background-color: rgba(0, 0, 0, 0);
                            border-radius: 3px;
                            font-weight: 600;
                            text-shadow: 1px 1px rgb(0, 0, 0);
                        }
                    }
                }
            }

            .log-nav-bar-container {
                display: flex;
                align-items: center;

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-flow: wrap;
                    margin-bottom: 0;
                    padding-left: 0;

                    li {
                        a {
                            color: rgb(255, 255, 255);
                            text-decoration: none;
                            margin: 5px;
                            padding: 5px;
                            border: 0px;
                            background-color: rgba(0, 0, 0, 0);
                            border-radius: 3px;
                            font-weight: 600;
                            text-shadow: 1px 1px rgb(0, 0, 0);
                        }
                    }
                }
            }
        }
    }

    main {
        div {
            .andes-xtreme-logo {
                color: rgb(232, 10, 10);
                text-shadow: rgba(0, 0, 0, 0.411) 2px 2px;
                font-style: italic;
                font-size: 5rem;
                padding-left: 1%;
                margin: 2%;
                margin-bottom: 3%;
            }

            .welcome-text-container {
                h2 {
                    margin: 1%;
                }

                p {
                    margin: 1%;
                }
            }
        }

        .saber-mas-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            align-items: center;
            align-content: center;
            text-align: center;
            margin-top: 20px;

            .saber-mas-button {
                align-self: center;
                width: 50%;
                height: 80%;
                color: white;
                margin-bottom: 5%;
                font-weight: 600;
                padding: 15px;
                background-color: rgb(4, 148, 4);
                border: 3px brown solid;
                border-radius: 10px;
                border-style: groove;

                &:hover {
                    align-self: center;
                    width: 50%;
                    height: 80%;
                    color: white;
                    margin-bottom: 5%;
                    font-weight: 600;
                    padding: 15px;
                    background-color: rgb(4, 148, 4);
                    border: 3px brown solid;
                    border-radius: 10px;
                    border-style: groove;
                }

                a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    margin: 5px;
                    padding: 5px;
                    border: 0px;
                    background-color: rgba(0, 0, 0, 0);
                    border-radius: 3px;
                    font-weight: 600;
                    text-shadow: 1px 1px rgb(0, 0, 0);
                }
            }
        }

        .spotify {
            width: 100%;
            display: flex;
            justify-content: center;

            .iframe-spotify {
                width: 70%;
                min-width: 270px;
            }
        }
    }

    footer {
        margin-top: 30px;
        padding: 10px;
        align-content: center;
        height: 70px;
        background-color: rgb(14, 13, 13);
        color: rgb(252, 251, 237);

        div {
            h2 {
                margin: 1%;
            }
        }
    }
}

body {
    width: 100%;
    font-family: "Rosario";
    text-shadow: rgba(227, 170, 179, 0.588) 0.5px 0.5px;
    background-image: url(../images/fondo-hd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;

    header {
        width: 100%;

        .nav-bar-container {
            color: rgb(255, 254, 231);
            padding: 15px;
            margin-left: 0;
            margin-right: 0;
            background-color: rgba(0, 0, 0, 0.33);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: wrap;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            .menu-nav-bar-container {
                display: flex;
                flex-flow: row wrap;

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-flow: wrap;
                    margin-bottom: 0;
                    padding-left: 0;

                    li {
                        a {
                            color: rgb(255, 255, 255);
                            text-decoration: none;
                            margin: 5px;
                            padding: 5px;
                            border: 0px;
                            background-color: rgba(0, 0, 0, 0);
                            border-radius: 3px;
                            font-weight: 600;
                            text-shadow: 1px 1px rgb(0, 0, 0);
                        }
                    }
                }
            }

            .log-nav-bar-container {
                display: flex;
                align-items: center;

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-flow: wrap;
                    margin-bottom: 0;
                    padding-left: 0;

                    li {
                        a {
                            color: rgb(255, 255, 255);
                            text-decoration: none;
                            margin: 5px;
                            padding: 5px;
                            border: 0px;
                            background-color: rgba(0, 0, 0, 0);
                            border-radius: 3px;
                            font-weight: 600;
                            text-shadow: 1px 1px rgb(0, 0, 0);
                        }
                    }
                }
            }
        }
    }

    main {
        .welcome-text-container {
            padding: 1%;
            margin: 1%;
            margin-top: 2%;
            margin-left: 0;
            width: 90%;
            background-color: rgba(255, 255, 255, 0.6);
            box-shadow: rgba(0, 0, 0, 0.358) 2px 2px 2px 2px;
            border-radius: 20px;
            font-weight: 600;

            h1 {
                margin: 1%;
            }

            p {
                margin: 1%;
                padding: 1%;
                font-size: 1.5em;
            }
        }

        .actividades-container {
            height: 100%;
            width: 100%;

            .lista-actividades {
                list-style-type: none;
                display: flex;
                flex-flow: wrap;
                margin-bottom: 0;

                li {
                    .actividad-container {
                        display: grid;
                        width: 100%;
                        height: 100%;
                        padding: 5%;
                        background-color: white;
                        text-align: center;
                        border-radius: 20px;
                        box-shadow: rgba(0, 0, 0, 0.358) 2px 2px 2px 2px;
                        grid-template-columns: 1fr;
                        grid-template-rows: auto 1.5fr 0.5fr;
                        grid-template-areas:
                            "img-container"
                            "descripcion-container"
                            "button-container";

                        .img-actividad-container {
                            width: 100%;
                            grid-area: img-container;
                            justify-self: center;
                            align-content: start;

                            .img-act {
                                border-top-left-radius: 7px;
                                border-top-right-radius: 7px;
                            }
                        }

                        .descripcion-container {
                            grid-area: descripcion-container;
                            margin-top: 10px;
                            margin-bottom: 10px;

                            h3 {
                                font-size: 1rem;
                            }

                            p {
                                font-size: 1rem;
                                margin: 1%;
                                padding: 1%;
                            }
                        }

                        .button-container {
                            display: flex;
                            flex-wrap: wrap;
                            grid-area: button-container;
                            justify-content: center;
                            align-content: flex-end;

                            button {
                                align-self: center;
                                width: 50%;
                                height: 80%;
                                color: white;
                                margin-bottom: 5%;
                                font-weight: 600;
                                padding: 15px;
                                background-color: rgb(4, 148, 4);
                                border: 3px brown solid;
                                border-radius: 10px;
                                border-style: groove;

                                &:hover {
                                    align-self: center;
                                    width: 50%;
                                    height: 80%;
                                    color: white;
                                    margin-bottom: 5%;
                                    font-weight: 600;
                                    padding: 15px;
                                    background-color: rgb(4, 148, 4);
                                    border: 3px brown solid;
                                    border-radius: 10px;
                                    border-style: groove;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .img-modal {
                        width: 100%;
                    }
                }
            }
        }
    }
}

body {
    main {
        .beneficios-container {
            flex-direction: row;
            justify-content: center;

            .lista-actividades {
                list-style-type: none;
                display: flex;
                flex-flow: wrap;
                margin-bottom: 0;

                li {
                    .beneficio-container {
                        display: grid;
                        width: 100%;
                        height: 100%;
                        padding: 5%;
                        background-color: white;
                        text-align: center;
                        border-radius: 20px;
                        box-shadow: rgba(0, 0, 0, 0.358) 2px 2px 2px 2px;
                        grid-template-columns: 1fr;
                        grid-template-rows: auto 1fr;
                        grid-template-areas:
                            "img-container"
                            "descripcion-container";

                        .img-beneficio-container {
                            width: 100%;
                            grid-area: img-container;
                            justify-self: center;
                            align-content: start;

                            .img-act {
                                border-top-left-radius: 7px;
                                border-top-right-radius: 7px;
                            }
                        }

                        .descripcion-container {
                            grid-area: descripcion-container;
                            margin-top: 10px;
                            margin-bottom: 10px;

                            h3 {
                                font-size: 1.5rem;
                            }

                            p {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

body {
    main {
        .iframe-container {
            display: flex;
            justify-content: center;
            padding: 20px;
            border-radius: 25px;

            .iframe-map {
                width: 100%;
            }
        }
    }
}

body {
    main {
        .welcome-text-container {
            .form-container {
                width: 80%;
                background-color: white;
                margin-top: 10%;
                border-radius: 15px;
            }
        }
    }
}

body {
    main {
        div {
            div{
                form{
                    div{
                        div{
                            div.row.mt-3.m-auto.acceso{
                                div.d-grid.gap-2.col-8.mx-auto{
                                    button.btn.btn-success{
                                        a{
                                            color: white;
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}